<h1>Chat</h1>

<table class="table table-bordered">
  <thead>
    <tr>
      <th>Comment</th>
      <th>GameId</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @chats.each do |chat| %>
      <tr>
        <td><%= chat.comment %></td>
        <td><%= chat.game_id %></td>
        <td><%= link_to 'Show', chat %></td>
        <td><%= link_to 'Edit', edit_chat_path(chat) %></td>
        <td><%= link_to 'Destroy', chat, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New chat', new_chat_path %>
<%= link_to 'Back to Games', games_path %>
