<h1>Game Comment</h1>
<p id="notice"><%= notice %></p>

<p>
  <strong>Comment</strong>
  <%= @chat.comment %>
</p>


<%= link_to 'Edit', edit_chat_path %>
<%= link_to 'Back', chats_path %>

<p>
  <strong>GameID:</strong>
  <%= @chat.game_id %>
</p>
<div class="bottom_links">
<%= link_to 'Edit', edit_chat_path %>
|
<%= link_to 'Back', game_path %>
</div>
