<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @chat.comment %>
</p>

<p>
  <strong>GameID:</strong>
  <%= @chat.game_id %>
</p>

<%= link_to 'Edit', edit_chat_path(@chat) %>
<%= link_to 'Back', chats_path %>
