<p id="notice"><%= notice %></p>

<h1 class="game_head">List of Popular Games</h1>
<h6 class="game_info">Interested in another game, add it at the end of the page.</h6>

<table class="table table-bordered">
  <thead class="table_h">
    <tr>
      <th>Sport</th>
      <th>Description</th>
    </tr>
  </thead>

  <tbody class="table_b">
    <% @games.each do |game| %>
      <tr>
        <td><%= link_to game.sport, game_path(game) %></td>
        <td><%= game.description %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<p class="bottom_l">
<%= link_to 'New Game', new_game_path %>
|
<%= link_to 'Back', root_path %>
</p>
