<h2 class="post_header"><%= link_to "Play-Wyn-Ready", root_path %><h2>
  <div id="posts_page">
  <nav class="navbar navbar-default">
    <div class="navbar-container">
      <div class="navbar-header">
        <button class="navbar-toggle collapsed" data-target="#bs-navbar-collapse-1" data-toggle="collapse" type="button">
          <span class="sr-only">Toggle Navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <div class="navbar-brand">
          <%= link_to "New Post", new_post_path %>
        </div>
      </div>
      <div class="collapse navbar-collapse" id="bs-navbar-collapse-1">
        <ul class="nav_links">
          <li>
            <%= link_to "Home", root_path %>
          </li>
          |
          <li>
            <%= link_to "Sports", games_path %>
          </li>
          <!-- <li>
            <%= link_to "Sign Up", signup_path %>
          </li> -->
        </ul>
      </div>
    </div>
  </nav>
  <div class="posts-wrapper row">
    <% @posts.each do |post| %>
    <div class="post">
      <div class="post-head">
        <div class="name">
          <!-- Put the users name here -->
        </div>
      </div>
      <span class="img_head">Click Image to edit:</span>
      <div class="image center-block">
        <%= link_to (image_tag post.image.url(:medium), class:'img-responsive'), post_path(post) %>
      </div>
      <p class="post_caption">
        <%= post.caption %>
      </p>
      <p class="caption">
        <h3>Comments:</h3>
        <textarea class="form-control" rows="3"></textarea>
      </p>
    </div>
    <% end %>
  </div>
</div>







    <!-- <% @posts.each do |post| %>
    <%= image_tag post.image.url(:medium) %>
    <%= post.caption %>
    <% end %> -->
