<nav class="navbar navbar-default">
  <div class="navbar-container">
    <div class="navbar-header">
      <button class="navbar-toggle collapsed" data-target="#bs-navbar-collapse-1" data-toggle="collapse" type="button">
        <span class="sr-only">Toggle Navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <div class="navbar-brand">
        <%= link_to "New Post", new_post_path %>
      </div>
      </div>
      <div class="collapse navbar-collapse" id="bs-navbar-collapse-1">
      <ul class="nav_links">
        <li>
          <%= link_to "Home", root_path %>
        </li>
        |
        <li>
          <%= link_to "Sports", games_path %>
        </li>
      </ul>
    </div>
  </div>
</nav>

<div class="posts-wrapper row">
  <div class="post">
    <div class="post-head">
      <div class="name">

      </div>
    </div>
    <div class="image center-block">
      <%= image_tag @post.image.url(:medium) %>
    </div>
    <p class="caption">
      <%= @post.caption %>
    </p>
    <div class="text-center">
      <div>
      <%= link_to "Edit Post", edit_post_path(@post) %>
      |
      <%= link_to "Cancel", posts_path %>
    </div>
    </div>
  </div>
</div>
